
*{
	margin: 0;
}
body{
	background:white;
	
	height: 100%;
	width: 100%;
	color: yellow;

}

content{
	
	width:70%;
	height: 100%;
	background:yellow;
	border:3px solid black;

	margin-top: -20%;
}
.idee{
	background: rgb();
	width: 100%;
	height: 100vh;

}
header{
	min-width: 100%;
	height: 20%;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;

}

/*========================================================================partie1===============================================================*/


nav{
	width: 100%;
	text-align: center;
	background-color: rgba(0,100,0,1);
	
	
}
nav ul{
	display: inline-flex;
	list-style: none;
	color: white;

}

nav ul li{
	width: 160px;
	margin: 20px;
	padding: 20px;;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
.active , nav ul li:hover{
	background:orange;
	border-radius: 3px; 
}

nav .fa{
	margin-right: 3px;
}
.sous-menu-1{
display: none;

}
nav ul li:hover .sous-menu-1 {
	display: block;
	position: absolute;
	background:green;
	margin-left: -15px;
	margin-top: 15px;
	
}
nav ul li:hover .sous-menu-1 ul{
	display: block;
	margin: 10px;
}

nav ul li:hover .sous-menu-1 ul li{
	width: 100px;
	padding: 10px;
	border-bottom: 1px dotted white;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
nav ul li:hover .sous-menu-1 ul li:last-child{
	border-bottom: none;
}
nav ul li:hover .sous-menu-1 ul li a:hover{
	columns: yellow;
	transform: scale(1.1);
	display: block;
}
.banniere{
	width: 100%;
	height: 2vh;
	margin-top: 
	}
.banniere .carousel-inner{
	width: 100%;
	height: 20vh;
	margin-bottom: 4%;

}

.cadrenav2{
	position: fixed;
	width: 10%;
	height: 10%;
	margin-left: 90%;
	background-color:orange;
	border-radius: 2px;
	color: white;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 20px;
	
}
.cadrenav1{
	position: fixed;
	width: 10%;
	height: 10%;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
	background-color:orange;
	border-radius: 2px;
	margin-left: 0px;
	color: white;
}

.vid{
	position: relative;
	min-width: 100%;
	height: 80vh;
	overflow: hidden;
	clear: both;

}


.vid source{
	position: absolute;
	min-width: 70%;
	min-height: 20vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -100;
}
.vid:before {
	position: absolute;
	content: "";
	min-width: 100%;
	height: 100vh;
	z-index: -99%;
}
.texte{
	position: absolute;
	width: 100%;
	height: 100vh;
	margin-top: -81%;
	 padding-top: 20%;
	color: rgba(255,255,255,1);
	font-family: agency fb;
	font-size: 70px;
	background: linear-gradient(rgba(123,3,45,.2),rgba(12,3,103,.3));

}
.texte h2{
	margin-left: 40%;
	text-shadow: 0 0 30px black;

}
.texte h5{
	margin-left: 30%;
	text-shadow: 0 0 30px black;

}
.boutton a{
	
	width: 100%
	height:10%;
	background-color:rgba(0,0,0,.5);
	text-decoration: none;
	color: white;
	border-radius: 6px;
	margin-left: 20px;
	border:2px solid white;
}
.boutton{

	margin-top: -50%;
	margin-left: 39%;
	position: absolute;
	width: 50%
	height:20%;
}
.bouttonette{

	margin-top: 0;
	margin-left: 35%;
	color: white;
	width: 40%
	height:50%;
}

.cadreban{
	width: 25%;
	height: 10%;
	background-color: rgba(0,0,0,.5);
	
	float: left;
	margin-top: -80%;
	position: absolute;
	margin-left: 78%;
	text-align: center;
	color: white;
	padding-top: 1%;
	border-radius: 2px;	

}

.cadreban2{
	width: 20%;
	height: 10%;
	background-color: rgba(0,0,0,.5);


	float: left;
	margin-top: -65%;
	position: absolute;
	margin-left: 82%;
	
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	padding-top: 1%;
	border-radius: 2px;	
}
.cadreban3{
	width: 21%;
	height: 10%;
	background-color:rgba(0,0,0,.5);

	
	float: left;
	
	margin-top: -51%;
	position: absolute;
	margin-left: 80%;
	text-align: center;
	color: white;
	padding-top: 1%;
	border-radius: 2px;	
}
.carousel-item button{
	width: 5%
	height:10%;
	background-color: rgba(0,0,0,.5);
	border-radius: 20px;
	color: orange;
}

.etoile{
	width: 20%;
	height: 20%;
	
	color: yellow;
	margin-left: 40%;
	margin-top: 5%;
	margin-bottom: 0%;
}

.slider-btn{
	height: 10%;
	width: 20%;
	border:2px solid rgba(254,194,0,1); 
	border-radius: 20px;
	background: linear-gradient(green,rgba(254,194,0,1));
	margin-left:37%;
}




.cadre{
	width: 100%;
	height: 60vh;
	color: black;
	margin:-2px;
	margin-left: 0;
	margin-top: 1px;
	background-color: black;
}

.cadrevif{
	width: 100%;
	height: 60vh;
	color: black;
	margin-top: 97px;
	margin-left: 0;

	background: white;

}
.cadremin1{
	
	background-color: white;
	float: right;
	height: 60vh;
	width: 46%;
	margin-left: 13.4%;
	color:orange;
	padding-top: 5px;

}
.cadremin1 h2{
		color: rgb(0,100,0);
		margin-left: 100px;
}
.cadremin1 p{
	margin-left: 70px;
}

.cadremin11{
	background-color: white;
	float: left;
	height: 60vh;
	width: 46%;
	margin-left:0;
	color: orange;
	padding-top: 5px;

}
.cadremin11 h2{
	margin-left: 80px;
	color: rgb(0,100,0);
}
.cadremin11 p{
	margin-left: 0px;
}

  .bouttonette button{
	margin-top: 10%;
	background-color: rgba(0,0,0,.3);
	color: white;
}
.cadre img{
	width: 130%;
	height: 70vh;
}
.cadrevif img{
	width: 130%;
	height: 70vh;
}
.cadremin2{
	
	background-color: white;
	float: left;
	height: 60vh;
	width: 50%;
	margin: 0;
}
.cadremin3{
	
	background-color:rgba(0,104,47,1);
	float: right;
	height: 50%;
	width: 50%;
	text-align: center;

}
.ensemble{
	display: flex;
	flex-direction: column;
}
.separer{
	display: flex;
	flex-direction: row;
}
p{
	padding-left: 50px;
}
h3{
	padding-top: 200px;
}
h2{
	padding-top: 20px;
	padding-left: 30px;
}
h6{
	padding-left: 100px;

}


.cadrant{
	background-color:white;
	width: 30%;
	height: 10%;
	border:1px solid yellow;
	margin-left: 0px; 
	background-color: grey;
	margin-top: 10px;
	border-radius: 20px;
}
.cadrant1{
	background-color:white;
	width: 25%;
	height: 10%;
	border:1px solid yellow;
	margin-left: 30px; 
	background-color: grey;
	margin-top: 25px;
	margin-bottom: 20px;
	border-radius: 20px;

}
.cadrant2{
	background-color:white;
	width: 20%;
	height: 10%;
	border:1px solid yellow;
	margin-left: 20px; 
	background-color: grey;
	border-radius: 20px;

	margin-top: 20px;
}
.cadrant3{
	background-color:white;
	width: 15%;
	height: 10%;
	border:1px solid yellow;
	margin-left: 30px;
	margin-top: 20px;
	background-color: grey;
	border-radius: 20px;
}
.cadrant4{
	background-color:white;
	width: 10%;
	height: 10%;
	border:1px solid yellow;
	margin-left: 30px; 
	margin-top: 20px;
	background-color: grey;
	border-radius:20px;
 
}

.cadrant .star-widget input{
	display: none;
}
.cadrant1 .star-widget input{
	display: none;
}
.cadrant2 .star-widget input{
	display: none;
}
.cadrant3 .star-widget input{
	display: none;
}
.cadrant4 .star-widget input{
	display: none;
}
.star-widget label{
	font-size: 20px;
	color: yellow;
	margin-left: 30px;
	margin-top: 5px;
}

/*==================================================================owl carousel===============================================================*/

.contenant{

	margin-top: 2%;
	padding-top: 2%;
	width:50%;
	height: 57vh;
	margin-left:10%; 
	background-image: url(image/appart.jpg);
	background-repeat: no-repeat;
	color: white;
	border-radius: 4px;
	text-align: center;

}
.contenant p{
	margin-left: 20px;
}
.mini{
	background: white;
	color: white;
	width: 27%;
	height: 40vh;
	text-align: center;

}
.mini p{
	text-align: center;
	margin-top: -20px;
	margin-bottom: 5%;
	margin-left: 0px;
}
.mini img{
	width: 80%;
	height: 28vh;
	margin-top: 10px;
	margin-left: 10%;
	border-radius: 2px;
}
.mini hr{
	color:black;
	width: 100%;
	margin-top: 6px;
}
 .contenant3{
	margin-top: 7%;
	padding-bottom: 5%;
	width: 90%;
	height: 50vh;
	background:rgba(255,255,255,1);
	background-repeat: no-repeat;
	border:7px solid  white;
	border-radius: 2px;
	margin-left: 5%;
	color: white;

}


.iconi{
	color:orange;
	margin-left: -2px;
}

.contenant2{
	
	width: 70%;
	height: 30vh;
	margin-top: 30px;
	margin-left: 20px;
	
}



.contenant5{
	margin-top: 5%;
	width: 100%
	max-height:50vh;
	background:rgba(0,100,0,1);

	border: 2px solid white;
	margin-bottom: 10%;

}


.blanc{
	width: 100%;
	height: 62vh;
	background:linear-gradient(rgba(0,0,0,.5), rgba(255,102,0,.5));
	margin-top: 15%;
	margin-left: -13%;
	transform: rotate(-15deg);
	z-index: 2;
	color: green;
}
.blanc p{
	font-size: 20px;

}

.contenant4{
	margin-top: 20%;
	margin-left: 50px;
	width: 69.5%;
	height: 24vh;
	background-color: white;
	background-repeat: no-repeat;
	border:2px solid white;
}








.cadrante{
	width: 100%;
	height: 65vh;
	justify-content: center;
	background:white;
	padding-top: 3%;
	color: yellow;
	
	margin-top: 20%;
	margin-bottom: 10%;
	border: 3px solid yellow;
	
}

.question{
	color: white;
	justify-content: center;
	background-color: grey;
	margin-top:100px;
	transform: rotate(-15deg);
	margin-bottom: 40px;
	margin-right: 20px;

}

.propos {
	transform: rotate(15deg);
	font-size: 20px;
	margin-left: 20px;
	margin-top: 2%;
	color: white;

}



.proximite{
	width: 100%;
	height: 90vh;
	justify-content: center;
	filter: brightness(.9);
	color: grey;
	margin-top: 50px;
	border-radius: 6px;
	margin-bottom: 10px;
}
.proximite2{
	width: 100%;
	height: 40vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: grey;
	margin-top: 1%;
	margin-bottom: 5%;
	padding-bottom:10%;
}
.entour{

	width: 40%;
	height: 50%;
	margin-left: 20%;

}
.entour img{
	border-radius: 50%;
	margin-left: 8%;
}
.proximite2  h3{

margin-left: 15px;
margin-top: -65px; 
}


.proximite3{
	width: 100%;
	height: 86vh;
	justify-content: center;
	filter: brightness(.8);
	color: yellow;
	background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.3)),url(image/mya.jpeg);
	margin-bottom: 50px;
	border-radius: 6px;
	background: cover;
}


.proche img{
	height: 40vh;
	width: 100%;
	margin-top: 30px;
	margin-left: 50px;
	margin:0;
}
.proche p{
	margin-left: 100px;
}
.proche{
	width: 90%;
	height: 60vh;
	margin-left: 80px;
	
}
.reputer img{
	height: 40vh;
	width: 77%;
	margin-top: 20px;
	margin-left: 30px;
	
}
.reputer p{
	margin-left: 100px;
}
.reputer{
	width: 90%;
	height: 60vh;
	margin-left: 25px;
	

}

.carouselExampleFade img{
	height: 60vh;
	width: 60%;
	margin-top: 3px;
	margin-left: 0px;
	
}

 .proximite3 #carouselExampleControls{
	float: right;

	width: 40%;
	height: 68vh;
	margin-top: 60px;
	margin-left: 50%;
	border: 3px solid  rgba(255,255,255,.7);
	background-color: rgba(255,255,255,.7);
}
.populaire{
	float: right;

	margin-top: 60px;
	
	border: 3px solid white;

}

.proximite h2{
	text-align: center;

	border-radius: 6px;

}


.proximite3 h2{
	text-align: center;
	
	border-radius: 6px;
}
.entete{

	clear: both;
	width: 15%;
	height: 7vh;
	background:rgb(0,100,0);
	color: white;
	border-radius: 20px;
	font-size: 25px;
	margin-left:45%;
	padding-top: 2px;
	padding-right:3px;
	margin-top: 9%;
	
}
.contour{
	width: 50%;
	height: 50vh;
	border-radius: 2px;
	color: green;
	background: orange;

	background: cover;
	margin-left: 30px;
	margin-top: 1px;


}
.contour-area{
	width: 90%;
	height: 45vh;
	border: 2px solid orange;
	margin-top: 15px;
	margin-left: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;


}
.contenu{
	text-align: center;
	padding-top: 2%;
}

.contour1{
	margin-top: 30%;
	color: white;
	margin-left: 10px;

}
.colstar{
	color: yellow;
}
.contour2{
	color: orange;
	margin-left: 19%;
	margin-top: 18%;

}
.populaire hr{
	background-color: grey;
	margin-top: 20px;
	width: 100%;
}
.reputer hr{
	background-color: green;
	margin-top: 0px;
	width: 100%;
}
.proche hr{
	background-color: white;
	margin-top: 20px;
	width: 100%;
}


.icon{
	 color:rgba(255,255,97,1);	
	 margin-left: 70px;
	 margin-top: 20px;
	 font-size: 20px;
}
.icon1{
	 color:black;	
	 margin-left: 130px;
	 margin-top: 20px;
	 font-size: 20px;
	 margin-top: 2px;
}

.titre{

	width: 30%;
	height: 7vh;
	background:rgb(0,100,0);
	color: white;
	border-radius: 20px;
	font-size: 25px;
	margin-left:35%;
	padding-bottom:2%;
	padding-left: 3%;
	margin-top: 8%;
	margin-bottom: 3%;
	clear: both;
}
.titre2{

	width: 30%;
	height: 7vh;
	background:rgb(0,100,0);
	color: white;
	border-radius: 20px;
	font-size: 25px;
	margin-left:35%;
	padding-bottom:2%;
	padding-left: 3%;
	margin-top: -8%;
	margin-bottom: 3%;
	clear: both;
}


.triangle{
	background: white;
	margin-top: 0;
	width: 200px;
	height: 5vh;
	border-radius: 10px;
	margin-left: 30%;
	padding-left: 20px;
	text-align: center;
}
.triangle1{
	background: black;
	width: 10px;
	height: 2vh;
	transform: rotate(15deg);

}




/*---------------------------------------------------------footer----------------------------------------------------------------------*/

footer{
	margin-top: 7%;
	width: 100%;
	height: 60vh;
	background:orange;
	padding-top: 20px;
	border: 2px solid orange;

	}

.pied{
	margin-left: 20%;
	margin-top: 5%;
}
.cadrefoot{
	margin-top: 40px;
	background-color: rgba(0,100,0,1);
	width: 80%;
	height: 40vh;
	margin-left: 10%;

}



.couleur2{
	color: white;
	

}

/*---------------------------------------------------------cadre2----------------------------------------------------------------------*/
.phrase{
	width: 50%;
	height: 5%;
	border-radius: 60px;
	background-color: yellow;
	margin-left: 20px;
}
.position{
	float: right;
	margin-top: 17px;
}


.contour p{
	margin-top: -20px;
	margin-left: 0px;
	color: black;
}
.icon2{
	margin-top: -20px;
	color: black;
}


.col{
	width: 50%;
	height: 40%;
	background-color: rgba(254,194,0,.5);
	border:3px solid rgba(254,194,0,1);
	float: right;
	margin-top: 20px;
	border-radius: 20px;
	margin-right: 30px;
	color: grey;
	font-size: 25px;

}
.col:hover{
	transform: scale(1.3);
}
.col1{
	width: 50%;
	height: 55%;
	background-color: rgba(254,194,0,.5);
	border:3px solid rgba(254,194,0,1);
	float: right;
	margin-top: 30px;
	border-radius: 20px;
	margin-right: 0px;
	color: grey;
	font-size: 25px;
}
.col1:hover{
	transform: scale(1.3);
}

.posit{
	margin-top: -40%;
	color: green;
	margin-left: 50px;
}
.cadrevif img{
	width: 60%;
	height: 60vh;

}

.remove-all-padding{
padding:0 ! important;
}
.remove-all-margin{
margin:0 ! important;
}
.remove-all-margin-padding{
margin:0 ! important;
padding:0 ! important;
}

/*-------------------------------------------------------formulaire---------------------------------------------------*/

.container{
	position: relative;
	width: 370px;
	background: rgba(0,0,0,.5);
	padding: 20px 30px;
	border:1px solid white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 0px;
	margin-top: 156px;
	cursor: pointer;
}

.container .star-widget input{
	display: none;
}

.star-widget label{
	
	color:orange;
	padding: 0px;
	float: right;

	transition: all .2s ease;
}
 input:not(:checked) ~ label:hover,
 input:not(:checked) ~ label:hover ~ label
{
	color: yellow;

}
 input:checked ~ label{
 	color: red;
}

input#rate-5:checked ~ label{
	color:red;
	text-shadow: 0 0 40px grey;
}
 form .textarea{
 	height: 100px;
 	width: 100%;
 	overflow: hidden;
	
}
form .textarea textarea{
	height: 100%;
	width: 90%;
	outline: none;
	border:1px solid green;
	margin-left:13px;
	border-radius: 3px;
	resize: none;
}
.container form{
	display: none;
}
.container .text{
	
	font-size: 19px;
	color: yellow;
	font-weight:500;
}
.container .post{
	display: none;
}

.container .exit{
	position: absolute;
	font-size: 13px;
	right: 10px;
	top: 5px;
	color: green;
	font-weight:500;
	cursor: pointer;
}
.container .exit:hover{
	text-decoration: underline;
}

input:checked ~ form{
	display: block;
}

form header{
	width: 100%;
	font-size: 15px;
	color: rgba(254,194,0,1);
	font-weight: 500;
	margin: 5px 0 20px 0;
	text-align: center;
	transition: all .2s ease;
}
input#rate-1:checked ~ form  header:before{
	content:" tres decevant " ;

}
input#rate-2:checked ~ form  header:before{
	content:" passable" ;
}
input#rate-3:checked ~ form  header:before{
	content:" assez bien" ;
}
input#rate-4:checked ~ form  header:before{
	content:" bien" ;
}
input#rate-5:checked ~ form  header:before{
	content:" fontastique " ;
}

form .btn {
	height:45px;
	width: 50%;
	margin: 10px 0;
}

form .btn button{
height: 100%;
width: 100%;
border: 1px solid green;
background-color: green;

color: yellow;
outline: none;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
transition: all .3s ease;
}
form .btn button:hover{
	border: 1px solid yellow;
}
.carte{
	width: 100%;
	height: 80vh;
	background: url(image/cameroun-carte-monde.jpg);
	background-repeat: no-repeat;
}

/*--------------------------------------------------------hotel.html--------------------------------------------------------8*/



.carteyde{
	
	width: 30%;
	height: 30%;
	margin-left: 55%;
	margin-right:120px; 
	margin-bottom: 50px;
	position: fixed;
	
}

.carteyde2{
	
	width: 30%;
	height: 30%;
	margin-left: 0;
	margin-right:120px; 
	margin-bottom: 50px;
	position: fixed;
}


.stop{
	clear: both;
}

.long {
	margin-left: 25px;
	margin-top: 20px;
	padding-left: 20px;
	width: 100%;
	height: 6vh;
	background-color: rgba(255,255,255,.6);
	border-radius: 30px;
	border:3px solid white;
	color:  rgba(254,194,0,.5) ;
}
.long h4{
	padding-top: 0px;
	text-align: center;
	margin-right: 20px;

}
.stare{
	margin-top: 10px;
	margin-left:10px;
	color: green; 
}
.flou{
	width: 70%;
	height: 25vh;
	border-radius: 100px;
	margin-top: 4%;
	filter: brightness(1);
	background:rgba(255,255,255,.7);
	border:2px solid orange;
	background-size: cover;
	margin-left: -90px;
	clear: both;
	}



.bloc1{
	width: 100%;
	height: 500vh;
	margin-top: 10%;
	background: white;
}
.bloc2{
	width: 100%;
	height: 500vh;
	margin-top: 10%;
	background-color: white;
}
.iconiq{
	 
	 width:20px;
	margin-top:5px; 
	 float: right;
	 font-size: 20px;
	 color: black;

}
.titrette{

	width: 100%;
	height: 20vh;
	border-radius: 30%;
	background:orange;
	color:white;
	
	font-size: 20px;
	padding-bottom:1%;
	padding-top: 1%;
	padding-left: 30%;
	margin-top: 8%;
	margin-bottom: 3%;
	border:1px solid white;
	margin-left: -9%;  
	
}
 .hart-widget input{
	display: none;
}

.hart-widget label{
	
	color:orange;
	padding: 0px;
	float: right;

	transition: all .2s ease;
}
 input:not(:checked) ~ label:hover,
 input:not(:checked) ~ label:hover ~ label
{
	color: orange;

}
 input:checked ~ label{
 	color: orange;
}

input#rate-1:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-2:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-3:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-4:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-5:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-6:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-7:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-8:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-9:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-10:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-11:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-12:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-13:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-14:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-15:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-16:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-17:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-18:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-19:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}
input#rate-20:checked ~ label{
	color:red;
	text-shadow: 0 0 40px white;
}




.galerie{
	width: 110%;
	height: 130vh;
	border-radius: 10%;
	position: relative;
	margin-top: -12px;
	margin-left: -22px;
}
.galerie input{
	display: none;
}
.galerie .image{
	display: none;
}
.image.is-visible{
	display: block;
}
.galerie .image1{
	display: none;
}
.image.is-visiblee{
	display: block;
}

.atouts{
	width: 40%;
	height: 40vh;
	color: green;
	margin-top: 5px;
	border-radius: 20px;
	margin-left: 5px;

	padding-left: 40px;
}
.atouts .boxi{
	width: 100%;
	height: 2%;
	color: green;
	margin-top: 5%;
}
.style{
	margin-left: 35%;
	border-radius: 10px;
	color: green;
	background-color: orange;
}
.situationgeo{
	float: right;
	font-size: 25px;
}

.like:hover{
	transform: scale(1.4);
	color: red;

}
.liki:hover{
	transform: scale(1.4);
	color: blue;

}

.col input{
	margin-left: 20%;
	width: 50%;
	height: 30%;
	border:none;
	outline: none;
	text-align: center;
	background: none;
	font-size: 20px;
	font-weight: 800;
	pointer-events: none;
	color: grey;

}
.col1 input{
	margin-left: 20%;
	width: 50%;
	height: 30%;
	border:none;
	outline: none;
	text-align: center;
	background: none;
	font-size: 20px;
	font-weight: 800;
	pointer-events: none;
	color: grey;

}

.formulaire{
	display: none;
}
.formulaire .apparaitre{
	display: block;
}


.menu{
	width: 100%;
	text-align: center;
	background-color: rgba(0,100,0,1);
	margin-bottom: 10%;
	
}
.menu ul{
	display: inline-flex;
	list-style: none;
	color: white;

}

.menu ul li{
	width: 160px;
	margin: 20px;
	padding: 20px;;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.active , .menu ul li:hover{
	background:orange;
	border-radius: 3px; 
}

.menu .fa{
	margin-right: 3px;
}
.sous-menu-1{
display: none;

}
.sous-menu-2{
display: none;

}

.menu ul li:hover .sous-menu-1 {
	display: block;
	position: absolute;
	background:green;
	margin-left: -15px;
	margin-top: 15px;
	
}
 .sous-menu-1 ul li:hover .sous-menu-2 {
	display: block;
	position: absolute;
	background:orange;
	margin-left: -15px;
	margin-top: 15px;
	
}

.menu ul li:hover .sous-menu-1 ul{
	display: block;
	margin: 10px;
}
.sous-menu-1 ul li:hover .sous-menu-2 ul{
	display: block;
	margin: 10px;
}

.menu ul li:hover .sous-menu-1 ul li{
	width: 100px;
	padding: 10px;
	border-bottom: 1px dotted white;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.sous-menu-1 ul li:hover .sous-menu-2 ul li{
	width: 100px;
	padding: 10px;
	border-bottom: 1px dotted white;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu ul li:hover .sous-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu ul li:hover .sous-menu-1 ul li a:hover{
	columns: yellow;
	transform: scale(1.1);
	display: block;
}


/*----------------------------------douala------------------------------------------------------------------------------------------------------------*/
.transp{
	width: 50%;
	height: 8%;
	background-color:white;
	margin-top: 5px;
	border-radius: 10px;
	border:1px solid green;
	
}
.transp1{
	width: 50%;
	height: 8%;
	background-color:white;
	margin-top: 3%;
	border-radius: 10px;
	border:1px solid green;
	
}
.banner-area{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area2{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area3{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area4{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area5{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area6{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area7{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area8{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area9{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area10{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}



.content-area{
	color: rgba(254,194,0,1);
}


/*----------------------------------yaounde------------------------------------------------------------------------------------------------------------*/

.transpa{
	width: 50%;
	height: 8%;
	background-color:white;
	margin-top: 10%;
	border-radius: 10px;
	border:1px solid green;
	
}

.banner-area11{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area12{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area13{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area14{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area15{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area16{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area17{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area18{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area19{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}
.banner-area20{
	width: 60%;
	height: 40vh;
	border-radius: 1%;
	background:url(image/deido.jpg);
	background-size: cover;
	background: cover;
	overflow: hidden;

	color:  rgba(254,194,0,1);
	border: 2px solid white;
	border-radius: 10px;
}


